mat-toolbar {
  display: flex;
  justify-content: space-between;

  .container-buttons {
    margin-right: 40px;

    button {
      margin-right: 20px;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
